<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776648753457-iavpuc8tp91um7n5d9vdj9bu2jqi1csu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776648753457-iavpuc8tp91um7n5d9vdj9bu2jqi1csu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>776648753457-2opu3g9o51193enkoek48fhpedgpmm1d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6oypaQkHZocWP6-tGCDvHAK5LziEQhMM</string>
	<key>GCM_SENDER_ID</key>
	<string>776648753457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example</string>
	<key>PROJECT_ID</key>
	<string>withcenter-test-3</string>
	<key>STORAGE_BUCKET</key>
	<string>withcenter-test-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776648753457:ios:b6719dfc0ea5773198f010</string>
	<key>DATABASE_URL</key>
	<string>https://withcenter-test-3-default-rtdb.firebaseio.com</string>
</dict>
</plist>